<% content_for :ga_page_type, "Site documentation" %>
<%= content_for :title, "#{@doc.heading} - Service Manual" %>
<% content_for :meta_description, @doc.description %>

<% content_for :phase_message do %>
  <%= render 'shared/custom_phase_message', phase: 'alpha' %>
<% end %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
  breadcrumbs: [
    {
      title: "Service manual",
      url: "/"
    },
    {
      title: @doc.heading
    }
  ]
} %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-page-header">
        <%= render "govuk_publishing_components/components/title", {
          title: @doc.heading,
          margin_bottom: 7
        } %>
      </div>
    </div>
  </div>

  <%= render "govuk_publishing_components/components/metadata", {
    last_updated: @last_updated_date_formatted + " ago"
  } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govspeak-wrapper govuk-!-padding-top-2">
        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
          <%= raw(@doc_body) %>
        </div>
      </div>
    </div>
  </div>

  <% if @doc.heading == 'Cookies' %>
    <%= form_with url: create_cookie_preferences_path, method: :post do |form| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Do you accept Google Analytics cookies?
            </h3>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= form.radio_button(
                :cookie_consent,
                true,
                id: 'cookie-consent-accept',
                class: 'govuk-radios__input',
                checked: cookies['cookies_preferences_set'] == 'true',
                data: { qa: 'cookie-consent-accept' },
              ) %>
              <label class="govuk-label govuk-radios__label" for="cookie-consent-accept">
                Yes, opt-in to Google Analytics cookies
              </label>

            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button(
                :cookie_consent,
                false,
                id: 'cookie-consent-deny',
                class: 'govuk-radios__input',
                checked: cookies['cookies_preferences_set'] == 'false',
                data: { qa: 'cookie-consent-deny' },
              ) %>
              <label class="govuk-label govuk-radios__label" for="cookie-consent-deny">
                No, do not track my website usage
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <%= form.submit 'Save changes', name: nil, class: 'govuk-button', data: { qa: 'save-changes' } %>
    <% end %>
  <% end %>
</div>
